@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Medium'), url(./assets/fonts/Roboto-Medium.ttf);
}

:root {
    --clr-primary: #497174;
    --clr-secondary: #D6E4E5;
    --clr-alert: #EFF5F5;
    --clr-hover: #EB6440;
}

body {
    background-color: var(--clr-primary);
    font-family: 'Roboto';
    color: var(--clr-alert);
    text-align: center;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-primary);
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: var(--clr-hover);
    }
