.Footer {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        ". social logo email .";
    grid-area: footer;
}

.Social {
    display: flex;
    grid-area: social;
    color: var(--clr-secondary);
    align-self: center;
    justify-content: space-between;
}

.Email {
    display: flex;
    grid-area: email;
    color: var(--clr-secondary);
    align-self: center;
    align-items: center;
    justify-content: flex-start;
}

.FooterLogo {
    display: block;
    grid-area: logo;
    align-self: center;
}

.EmailP {
    display: block;
}

@media (max-width: 840px) {

    .Footer {
        display: grid;
        width: 100vw;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "social social social social email";
        grid-area: footer;
    }

    .FooterLogo {
        display: none;
        grid-area: logo;
        align-self: center;
    }

    .EmailP {
        display: none;
    }
}
